<!DOCTYPE html>
<html{% if 'i18n' in config.plugins %} lang="{{ i18n_page_locale }}"{% endif %}>
<head>
<meta charset="utf-8">
{%- block htmltitle %}
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
{%- endblock %}
{%- block site_meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- if 'i18n' in config.plugins %}
    {%- for lang, display in config.plugins.i18n.config.languages.items() %}
      {%- if lang != i18n_page_locale %}
        {%- if lang == i18n_config.default_language %}
  <link rel="alternate" hreflang="x-default" href="{{  page.canonical_url | replace('/' + i18n_page_locale + '/', '/') }}">
        {%- elif i18n_page_file_locale is none %}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ page.canonical_url | replace(page.url, '') + lang + '/' + page.url | replace(i18n_page_locale + '/', '') }}">
        {%- else %}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ page.canonical_url | replace('/' + i18n_page_locale + '/', '/' + lang + '/') }}">
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
  {%- if config.theme.manifest %}
    {%- if 'i18n' in config.plugins and i18n_page_file_locale %}
  <link rel="manifest" href="{{ ('/'+ i18n_page_locale + '/' + config.theme.manifest)|url }}">
    {%- else %}
  <link rel="manifest" href="{{ '/' + config.theme.manifest|url }}">
    {%- endif %}
  {%- endif %}
  {% if page and page.is_homepage %}<meta name="description" content="{{ config['site_description'] }}">{% endif %}
  {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
  {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
  {% if config.site_favicon %}<link rel="shortcut icon" href="{{ config.site_favicon|url }}">
  {% else %}<link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}">{% endif %}
{%- endblock %}

{%- block styles %}
  <link rel="stylesheet" href="{{ 'css/w3.css'|url }}">
  {%- if config.theme.color %}
  <link rel="stylesheet" href="{{ ('css/w3-theme-'+config.theme.color+'.css')|url }}">
  {%- else %}
  <link rel="stylesheet" href="{{ 'css/w3-theme-orange.css'|url }}">
  {%- endif %}
  <link rel="stylesheet" href="{{ 'css/theme.css'|url }}">
{%- endblock %}

{%- block extrahead %} {% endblock %}
</head>

<body class="w3-theme-l5">

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="open-menu" viewBox="0 0 10 10" fill="currentColor">
    <rect y="0" width="10" height="2"/>
    <rect y="4" width="10" height="2"/>
    <rect y="8" width="10" height="2"/>
  </symbol>
</svg>

{%- if nav|length>1 %}
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card w3-theme-l4" style="z-index:3;width:250px;" id="mySidebar">
  <a class="w3-bar-item w3-button w3-theme-l1 w3-hide-large w3-large w3-right-align" href="javascript:void(0)" onclick="w3_close()">X</a>
{%- set accid = namespace(value=1, hidden=true) %}
{%- for nav_item in nav %}
  {%- if nav_item.children %}
  <div>
    {%- set accid.hidden = true %}{%- for nav_item in nav_item.children %}{%- if nav_item.active%}{%- set accid.hidden = false %}{%- endif %}{%- endfor %}
    <a class="w3-bar-item w3-button{% if not accid.hidden%} w3-theme-l4{% endif %}" onclick="myAccordion('acc{{  accid.value }}')" href="javascript:void(0)">{{ nav_item.title }} +</a>
    <div id="acc{{  accid.value }}" class="w3-animate-left{% if accid.hidden%} w3-hide{% endif %}" style="margin-left: 8px;">{% set accid.value = accid.value + 1 %}
    {%- for nav_item in nav_item.children %}
      <a class="w3-bar-item w3-button{% if nav_item.active%} w3-theme-l2{% endif %}" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
    {%- endfor %}
    </div>
  </div>
  {%- else %}
  <a class="w3-bar-item w3-button{% if nav_item.active%} w3-theme-l2{% endif %}" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
  {%- endif %}
{%- endfor %}
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
{%- endif %}

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-container w3-top w3-theme w3-large no-print">
  <p>
    {%- if config.theme.logo %}
    <img src="{{ config.theme.logo | url }}" class="logo-open-menu" onclick="w3_open()">
    {%- else %}
    <svg class="logo-open-menu w3-hide-large no-print" onclick="w3_open()"><use xlink:href="#open-menu" /></svg>
    {%- endif %}
    <span class="w3-margin-left">{% if page.title %}{{ page.title }}{% endif %}</span>
  </p>
</div>

<header class="w3-container w3-theme w3-large">
  <p>
    {%- if config.theme.logo %}
    <img src="{{ config.theme.logo | url }}" class="logo-open-menu" onclick="w3_open()">
    {%- else %}
    <svg class="logo-open-menu w3-hide-large no-print" onclick="w3_open()"><use xlink:href="#open-menu" /></svg>
    {%- endif %}
    <span class="w3-margin-left">{% if page.title %}{{ page.title }}{% endif %}</span>
  </p>
</header>

<div class="w3-container" style="padding: 32px;">
  <div class="w3-right w3-margin-bottom no-print">
  {%- if page.toc|length>=1 %}
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-theme-l2">#</button>
      <div class="w3-dropdown-content w3-bar-block" style="right:0">
      {%- for toc_item in page.toc %}
        <a href="{{ toc_item.url }}" class="w3-bar-item w3-button w3-theme-l2">{{ toc_item.title }}</a>
        {%- for toc_item in toc_item.children %}
        <a href="{{ toc_item.url }}" class="w3-bar-item w3-small w3-button w3-theme-l2">{{ toc_item.title }}</a>
        {%- endfor %}
      {%- endfor %}
      </div>
    </div>
  {%- endif %}
  {%- if 'i18n' in config.plugins %}
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-theme-l2">A</button>
      <div class="w3-dropdown-content w3-bar-block" style="right:0">
      {%- for lang, display in config.plugins.i18n.config.languages.items() %}
        {%- if lang == i18n_page_locale %}
          {%- set langcolor = "w3-theme-l4" %}
        {%- else %}
          {%- set langcolor = "w3-theme-l2" %}
        {%- endif %}

        {%- if lang == i18n_config.default_language %}
          <a href="{{ page.abs_url | replace('/' + i18n_page_locale + '/', '/') }}" class="w3-bar-item w3-button {{ langcolor }}">{{ display.name }}</a>
        {%- elif i18n_page_file_locale is none %}
          <a href="{{ '/../' + lang + '/' + page.url | replace(i18n_page_locale + '/', '') }}" class="w3-bar-item w3-button {{ langcolor }}">{{ display.name }}</a>
        {%- else %}
          <a href="{{ page.abs_url | replace('/' + i18n_page_locale + '/', '/' + lang + '/') }}" class="w3-bar-item w3-button {{ langcolor }}">{{ display.name }}</a>
        {%- endif %}
      {%- endfor %}
      </div>
    </div>
  {%- endif %}
  </div> 
{%- block content %}
  {{ page.content }}
{%- endblock %}
</div>

<footer class="w3-container w3-theme no-print">
  <p class="w3-tiny footer">Built with <a href="https://www.mkdocs.org" target="_blank">MkDocs</a> 
    {%- if 'i18n' in config.plugins %}, the <a href="https://ultrabug.github.io/mkdocs-static-i18n/" target="_blank">static i18n plugin</a>{%- endif %}
    and <a href="https://www.w3schools.com/w3css/" target="_blank">w3.css</a>.
  </p>
</footer>

</div>

<script src="{{ 'js/theme.js'|url }}"></script>
{%- if config.theme.serviceworker %}
<script>
  if ('serviceWorker' in navigator) { 
    // register service worker
{%- if 'i18n' in config.plugins and i18n_page_file_locale %}
    navigator.serviceWorker.register("{{ ('/' + i18n_page_locale + '/' + config.theme.serviceworker)|url }}");
{%- else %}
    navigator.serviceWorker.register("{{ ('/' + config.theme.serviceworker)|url }}");
{%- endif %}
  }
</script>
{%- endif %}
</body>
</html>