body{
  font-family: Tahoma, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6, .headings {
  font-family: Tahoma, Verdana, sans-serif;
}

code {
  font-family:Consolas, Courier, monospace;
  font-size:16px;
  word-wrap:break-word;
}
pre{
  font-family:Consolas, Courier, monospace;
  font-size:16px;
  width:auto;
  padding:8px 12px;
  white-space:break-spaces;
  word-wrap:break-word;
  margin-top:16px!important;
  margin-bottom:16px!important
}