@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}

img{max-width:100%;height:auto}

/*anchor offset myTop*/
h1,h2,h3,h4,h5,h6 {
  padding-top: 80px;
  margin-top: -80px;
}

/*svg icons*/
.svg-icon {
  display: inline-flex;
  bottom: .125em;
  position: relative;
  vertical-align: middle;
}
.svg-1em {
  height: 1em;
  width: 1em;
}
.svg-2em {
  height: 2em;
  width: 2em;
}

/*fonts*/
body{
  font-family: Tahoma, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Verdana, sans-serif;
}

.w3-code, .w3-codespan {
  font-family:Consolas, Courier, monospace;
}
