/* inspired by https://www.w3schools.com/w3css/w3css_color_generator.asp */

/* light theme */
.w3-theme-l5 {color:#000 !important; background-color:#feeee6 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fccfb9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#fbb18c !important}
.w3-theme-l2 {color:#000 !important; background-color:#f99360 !important}
.w3-theme-l1 {color:#000 !important; background-color:#f87433 !important}
.w3-theme-d1 {color:#000 !important; background-color:#dd4e07 !important}
.w3-theme-d2 {color:#000 !important; background-color:#c44506 !important}
.w3-theme-d3 {color:#000 !important; background-color:#ac3c05 !important}
.w3-theme-d4 {color:#fff !important; background-color:#933404 !important}
.w3-theme-d5 {color:#fff !important; background-color:#7b2b04 !important}

.w3-theme-light {color:#000 !important; background-color:#feeee6 !important}
.w3-theme-dark {color:#fff !important; background-color:#7b2b04 !important}
.w3-theme-action {color:#fff !important; background-color:#7b2b04 !important}

.w3-theme {color:#000 !important; background-color:#f65708 !important}
.w3-text-theme {color:#f65708 !important}
.w3-border-theme {border-color:#f65708 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#f65708 !important}
.w3-hover-text-theme:hover {color:#f65708 !important}
.w3-hover-border-theme:hover {border-color:#f65708 !important}

.w3-code {
  border-left:4px solid #f65708;
}
.w3-code, .w3-codespan {
  color:#000;
  background-color:#fbb18c;
}

a{color: inherit !important;}

.w3-striped tbody tr:nth-child(even){
    background-color:#fccfb9
}

.w3-bordered tr{
    border-bottom:1px solid #000
}

.w3-table tbody tr:hover,table li:hover{
  background-color:#fbb18c
}

.search-results article:hover {
  background-color:#fbb18c
}

@media (prefers-color-scheme: dark) {
  /* dark theme */
  .w3-theme-l5 {color:#fff !important; background-color:#180800 !important}
  .w3-theme-l4 {color:#fff !important; background-color:#441802 !important}
  .w3-theme-l3 {color:#fff !important; background-color:#712803 !important}
  .w3-theme-l2 {color:#fff !important; background-color:#9d3705 !important}
  .w3-theme-l1 {color:#fff !important; background-color:#c94706 !important}
  .w3-theme-d1 {color:#000 !important; background-color:#f7671f !important}
  .w3-theme-d2 {color:#000 !important; background-color:#f87838 !important}
  .w3-theme-d3 {color:#000 !important; background-color:#f98951 !important}
  .w3-theme-d4 {color:#000 !important; background-color:#fa9a6a !important}
  .w3-theme-d5 {color:#000 !important; background-color:#faaa83 !important}

  .w3-theme-light {color:#fff !important; background-color:#180800 !important}
  .w3-theme-dark {color:#000 !important; background-color:#faaa83 !important}
  .w3-theme-action {color:#000 !important; background-color:#faaa83 !important}

  .w3-theme {color:#fff !important; background-color:#f65708 !important}
  .w3-text-theme {color:#f65708 !important}
  .w3-border-theme {border-color:#f65708 !important}

  .w3-hover-theme:hover {color:#fff !important; background-color:#f65708 !important}
  .w3-hover-text-theme:hover {color:#f65708 !important}
  .w3-hover-border-theme:hover {border-color:#f65708 !important}

  .w3-code {
    border-left:4px solid #f65708;
  }
  .w3-code, .w3-codespan {
    color:#fff;
    background-color:#712803;
  }

  a{color: inherit !important;}

  .w3-striped tbody tr:nth-child(even){
      background-color:#441802
  }

  .w3-bordered tr{
      border-bottom:1px solid #fff
  }

  .w3-table tbody tr:hover,table li:hover{
    background-color:#712803
  }

  .search-results article:hover {
    background-color:#712803
  }
}